.footer {
    background-color: #333;
    color: #fff;
  padding: 20px 0;
  text-align: center;
  position: relative;  
  z-index: 1; 
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-logo {
    margin-bottom: 10px;
  }
  
  .footer-logo-img {
    height: 60px; 
  }
  
  .footer-links {
    display: flex;
    gap: 20px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-links a:hover {
    color: #ffe0b3;
  }
  
  .footer-social {
    display: flex;
    gap: 15px;
  }
  
  .footer-social img {
    height: 30px; 
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #fff;
    padding-top: 10px;
    
  }
  